.marginizda{
	margin-left: 75px;
}

.navbar{
	margin-bottom:0px;
}

.center{
	text-align:center;
}

.barrafooter{
	background-color:#72c7dc;
	padding-bottom:25px;
	padding-top:25px;
	color:white;
}

.cajaredsocial{
	padding: 2%;
}

.rrss{
	width: 100%;
}

.prueba{
	background: #0383a2;
	border-radius:15px;
	width: 85px;
    padding: 20px;
    margin: 0 auto;
}

.listafooter{
	list-style:none;
}

.listafooter li{
	display: inline-block;
    padding-right: 25px;
    padding-top: 40px;
    color: white;
}

.copyright{
	color:#9a9a9a;
	font-size:1em;
}

.columnacopy{
	background:#3e3e3e;
}

.filafooter{
	padding-bottom: 30px;
}

.nombrered{
	margin-top:10px;
}

.homewrapper{
	padding-top:100px;
	padding-bottom:100px;
}

.cajaultimos10{
	padding-top:75px;	
}

.listaultimos10{
	list-style:none;
}

.listaultimos10 li{
	padding: 10px;
    border-bottom: 1px solid grey;
}

.ojo{
	float: right;
}

.mainbackoffice{
	padding-top:50px;
	padding-bottom:75px;
}

.panel{
	margin:0px;
}

.panel-body{
	background:#d4d4d4;
}

.btnmigracion{
	margin-top:0px;
	background:#72c7dc;
}

.btnmigracion a{
	color:white;
}

